{% capture block %}
  <strong class="subtitle">Jelle doet ook</strong>
  {% assign references = include.teasers | split: ', '%}
  {% assign pages = site.pages | sort: 'order' %}

  {% for page in pages %}
  {% assign pageTitle = page.machine_name | downcase %}

    {% for reference in references %}

      {% if pageTitle contains reference %}
    <article class="reference">
      <div class="introduction">
        <h3 class="title">{{page.title}}</h3>
        <p class="keywords">{{page.keywords}}</p>
        <p class="description">{{page.teaserText}}</p>
        <a href="/{{page.machine_name | downcase}}" class="button">Lees meer</a>
      </div>
      <picture class="focuspoint reference-image">
        <img class="img" src="{{page.headerimage}}" alt="{{page.machine_name}}">
      </picture>
    </article>
    {% endif %}
    {% endfor %}
  {% endfor %}
{% endcapture %}

{% include block/block.html classes="references" %}

