---
layout: master
---
{% include section/section.header.html %}

<div class="heading">
	<a href="/theaterproducties" class="back">{% include svg/arrow-left.svg %} terug</a>
	<h1 class="title">{{ page.title }}</h1>
</div>

<main>
	<picture class="picture focuspoint">
		<img class="img" src="{{ page.headerimage }}" alt="Jelle Kuiper">
	</picture>

	<section class="block text">
		<p class="paragraph">{{ content }}</p>
	</section>

	{% include block/block.contactform.html %}
	{% include entities/theaterproducties/theaterproductie.teaser.html %}

</main>

{% include section/section.footer.html %}
