---
layout: master
---
{% include section/section.header.html %}


<main>
	<picture class="picture focuspoint">
		<img class="img" src="{{ page.headerimage }}" alt="Jelle Kuiper">
	</picture>

	<section class="block text">
		<p class="paragraph">{{ content }}</p>
	</section>

	{% include block/block.contactform.html subject="Bv. Theaterproducent" image="bedrijfsoptredens/Bedrijfsoptreden-Jelle-Kuiper-fakespeech.jpg" message="Bv. Hoi Jelle,  ik heb een producent nodig voor een theatervoorstelling die ik op aan het zetten ben. Wil je een keertje koffie drinken? Groetjes, Charlotte" %}
	{% include entities/theaterproducties/theaterproductie.teaser.html %}

</main>

{% include section/section.footer.html %}
