{% include section/section.head.html %}

{% include section/section.header.html %}

{% include block/block.hero.html %}

<main>

	{{ content }}

	<section class="block references"> 
		{% assign sortedPages = site.pages | sort: 'order' %}
		{% assign currentPage = page.path %}
		{% for page in sortedPages %}{% if page.path contains '.html' %}
		<article class="reference">
			<div class="introduction">
				<h3 class="title">{{page.title}}</h3>
				<p class="keywords">{{page.keywords}}</p>
				<p class="description">{{page.teaserText}}</p>
				<a href="/{{page.title | downcase}}" class="button">Lees meer</a>
			</div>
			<picture class="focuspoint reference-image">
				<img class="img" src="{{page.headerimage}}" alt="Jelle Kuiper">
			</picture>
		</article>
		{% endif %}{% endfor %}
	</section>

	{% include block/block.contactform.html %}
	
</main>

{% include section/section.footer.html %}
