.block.references {
	.reference {
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		position: relative;
		margin-bottom: $padding;
		text-align: center;
		min-height: $gutter * 10;
		color: $white;
		&:last-child {
			margin-bottom: 0;
		}

		.introduction {
			position: absolute;
			z-index: 500;
			left: 0%;
			height: 170px;
			width: 100%;
			
			.title {
				@include font('title');
				text-shadow: $text-shadow;
			}

			.keywords {
				@include font('textheader');
				font-size: 1rem;
				text-shadow: $text-shadow;
			}

			.description {
				text-align: left;
				display: none;
			}

			.button {
				text-transform: uppercase;
				width: #{100vw / 24 * 20};
				left: #{100vw / 24 * 1};
				position: absolute;
				bottom: $padding;
				font-weight: 600;
			}
		}

		.reference-image {
			.img {
			}
		}

	}
}

// responsive are (front) -page dependant.