.block.counter {
	@include background();
	display: flex;
	justify-content: space-around;

	> div {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-direction: column;

		.counter {
			color: $primary;
			font-size: 2em;
		}
	}
}

@include breakpoint($desktop) {
	.block.counter {
		> div {
			font-size: 1.5rem;
			.counter {
				font-weight: light;
				font-size: 2.5rem;
			}
		}

	}
}