.block.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - #{$offset});
	justify-content: flex-end;
	padding-bottom: $padding * 2;
    position: relative;
    width: 100vw;

	.introduction {
		width: #{100vw / 24 * 22};
		color: $white;
		align-self: center;
		max-width: var(--max-width);
		text-align: center;

		.title {
			@include font('title');
		}
		
		.subtitle {
			@include font('subtitle');
		}		

		.introduction,
		.title {
			padding: $padding 0;
		}

		.button {
			text-transform: uppercase;
			box-shadow: $box-shadow;
			width: 100%;
		}
	}

	.image-wrapper {
		width: 100vw;
		overflow: hidden;
		z-index: -1;
		position: absolute;
		top: 0;
		height: calc(100vh - #{$offset});
		
		.hero-image {
			position: relative;
			width: 100%;
			height: calc(100vh - #{$offset});
			display: block;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 3;
				background-color: rgba(black, .5);
			}

			.img {
				position: absolute;
			  	object-fit: cover;
				width: auto;
				height: 100%;
				display: block;
			}
		}
	}
}

@include breakpoint($desktop) {
	.block.hero {
		justify-content: center;

		.introduction {
			max-width: calc(var(--max-width) / 37 * 22);
		}

		.button {
			max-width: calc(var(--max-width) / 37 * 15);
		}

		.image-wrapper {

			.hero-image {

				.img {
					position: absolute;
					width: 100%;
					display: block;
					transform: translateY(0);
				}
			}
		}
	}
}