.block.usps {
	.usp {
		margin-bottom: $gutter;
		display: flex;
		flex-direction: column;

		.subtitle {
			padding: $padding 0;
		}

		.quote {
			@include font('quote');
			margin-bottom: $gutter;
		}
	}

}