.block.testimonials {
	@include background();

	.inner {
		&:before,
		&:after {
			color: $primary;
			text-align: center;
			position: absolute;
			font-size: 3rem;
			@include font('title');
			width: 30px;
			line-height: 0;
			font-weight: 800;
		}

		&:before {
			content: "“";
			left: -10px;
		}

		&:after {
			content: "”";
			bottom: 0;
			right: -10px;
		}
	}

	.owl-item.active {
		+ .owl-item {
			overflow: hidden;
		}
	}

	.owl-carousel {
		overflow: visible;

		.owl-dots {
			position: absolute;
			width: 100%;
			z-index: 50;
		    counter-reset: increment;

			.owl-dot {
				&:before {
					counter-increment: increment;
					content: counter(increment);
				}
				span {
					display: none;
				}
			}

		}
		.owl-prev,
		.owl-next {
			fill: $primary;
			position: absolute;
			width: 30px;
		}
		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}

		.owl-item {
			.quote {
				@include font('testimonial');


			}

			.name {
				font-weight: bold;
				font-size: 1.125rem;
				text-align: right;
				margin-bottom: 30px;
				margin-right: 60px;
			}
		}
	}
}

@include breakpoint($desktop) {
	.block.testimonials {
		margin-top: 0;
	}
}