main > .block {
	width: calc(var(--max-width) / 24 * 22);
	//weet niet of dit goed is hieronder
    max-width: calc( var(--max-width) - (var(--max-width) / 37 * 2));
	margin: $gutter*1.5 auto;

	.subtitle {
		@include font('textheader');
		display: block;
		padding-bottom: $padding;
	}

	ul {
		li {
			margin-left: 12px;
			position: relative;
			
			&:before {
				content: "- ";
				position: absolute;
				left: -14px;
			}
		}
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


@include breakpoint($desktop) {
	main > .block {
		width: #{100vw / 37 * 35};
	}
}
