.contactform {
	min-height: calc(100vh - #{$offset});
	
	input, textarea, label {
		width: 100%;
		box-sizing: border-box;

		&:-webkit-autofill {
	    	-webkit-box-shadow: 0 0 0 30px white inset;
		}
	}

	input:required {
	    box-shadow:none;
		border: 1px solid #d0d0d0;
	    background: transparent;
	}

	input:not(:placeholder-shown) {
		&:invalid {
			box-shadow:0 0 0px blue;
			border: 1px solid #f99;
			background: #fff9f9;
		}
	}
	
	::-webkit-input-placeholder {
	  color: $placeholder;
	}
	::-moz-placeholder {
	  color: $placeholder;
	}
	:-ms-input-placeholder {
	  color: $placeholder;
	}
	:-moz-placeholder {
	  color: $placeholder;
	}

	label {
		font-weight: 800;
		margin-bottom: 5px;
		display: block;
	}

	input, textarea {
		max-width: 100%;
		border: 1px solid #d0d0d0;
		background-color: transparent;
		border-radius: $border-radius;
		padding: 10px 1rem;
		@include font;
		margin-bottom: $gutter / 2.5;
	}

	input[type='submit'],
	.send {
		background-color: $primary;
		cursor: pointer;
		pointer-events: all;
		color: $white;
		font-weight: 800;
		font-size: 1rem;
		text-transform: uppercase;
		border: none;
		padding: 1rem;
		margin-top: $padding;
		transition: all $speed/2;
		margin-bottom: 0;
	}
}

@include breakpoint ($desktop) {
	.contactform {
		.name {
			width: #{$max-width / 37 * 18};
			margin-right: #{$max-width / 37 * 1};
			display: inline-block;
		}
		
		.email {
			left: #{$max-width / 37 * 19};
			width: #{$max-width / 37 * 18};
			position: absolute;
		}
		
		label.email {
			margin-top: -85px;
		}

		input[type='submit'],
		.send {
			width: auto;
			min-width: 350px;
		}
	}
}