.block.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - #{$offset});
	justify-content: flex-end;
	padding-bottom: $padding * 2;
    position: relative;
    width: 100vw;
	overflow: hidden;

	.introduction {
		width: #{100vw / 24 * 22};
		color: $white;
		align-self: center;
		max-width: var(--max-width);
		text-align: center;

		.title {
			@include font('title');
		}
		
		.subtitle {
			@include font('subtitle');
		}		

		.introduction,
		.title {
			padding: $padding 0;
		}

		.button {
			text-transform: uppercase;
			box-shadow: $box-shadow;
			width: 100%;

			&:hover {
				background-color: $hover;
			}
		}
	}

	.image-wrapper {
		width: 100vw;
		overflow: hidden;
		z-index: -1;
		position: absolute;
		top: 0;
		height: calc(100vh - #{$offset});
		
		.hero-image {
			position: static;
			width: auto;
			height: calc(100vh - #{$offset});
			width: 100vw;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 3;
				background-color: rgba(black, .5);
			}
		}
	}
}

@include breakpoint($desktop) {
	.block.hero {
		justify-content: center;
		height: calc(80vh - #{$offset});
		padding: 0;

		.title {
			font-size: 3em !important;
		}

		.introduction {
			max-width: calc(var(--max-width) / 37 * 22);
			line-height: 1.7;
			margin-bottom: $padding;
		}

		.button {
			max-width: calc(var(--max-width) / 37 * 15);
		}

		.image-wrapper {
			height: calc(80vh - #{$offset});

			.hero-image {
				height: calc(80vh - #{$offset});
			}
		}
	}
}