.block.text {
	margin: 0 auto;
	margin-bottom: $gutter*2;
}

@include breakpoint($desktop) {
	.block.text {
		width: calc(var(--max-width) / 37 * 31);
		// margin-left: calc(var(--max-width) / 37 * 1);
	}
}