.block.video {
	@include background();

	.inner {
	    padding: 0;
	    width: 100%;
		height: calc(#{100vw / 24 * 22} / 16 * 9);

	    iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: #{100vw / 24 * 22};
			height: calc(#{100vw / 24 * 22} / 16 * 9);
	    }
	}

}

@include breakpoint($desktop) {
.block.video {
	.inner {
	    width: 100%;
		height: calc( (var(--max-width) / 37 * 35) / 16 * 9);

	    iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: calc(var(--max-width));
			height: calc( (var(--max-width) / 37 * 35) / 16 * 9);
	    }
	}

}

}