.hero-image {
	display: block;
	height: calc(100vh + 100px);
	margin-top:-100px;
	width: 100vw;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	transform: 
	  translateZ(-1px)
	  scale(2);

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(black, .5);
	}
}

.block.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - #{$offset});
	justify-content: flex-end;
	padding-bottom: $padding * 3;
    position: relative;
    width: 100vw;
	overflow: hidden;

	.introduction {
		width: #{100vw / 24 * 22};
		color: $white;
		align-self: center;
		max-width: var(--max-width);
		text-align: center;

		.title {
			@include font('title');
		}
		
		.subtitle {
			@include font('subtitle');
		}		

		.introduction,
		.title {
			padding: $padding 0;
		}

		.button {
			text-transform: uppercase;
			box-shadow: $box-shadow;
			width: 100%;

			&:hover {
				background-color: $hover;
			}
		}
	}
}

@include breakpoint($desktop) {
	.block.hero {
		justify-content: center;
		height: calc(90vh );
		padding: 0;

		.title {
			font-size: 3em !important;
		}

		.introduction {
			max-width: calc(var(--max-width) / 37 * 22);
			line-height: 1.7;
			margin-bottom: $padding;
		}

		.button {
			max-width: calc(var(--max-width) / 37 * 15);
		}
	}
}