		<footer class="footer">
			<ul class="nav">
				{% assign page = site.pages | sort: 'order' %}
				{% for page in page %}
					{% if page.menu %}
					<li class="menu-item {% if page.title == currentPage %}active{% endif %}"><a href="{{page.url}}" class="menu-link">{{page.menu}}</a></li>
					{% endif %}
				{% endfor %}
				<li class="menu-item">
					<a href="#contact" class="menu-link">Contact</a>
				</li>
			</ul>
			<div class="right">
				<aside class="icons">
					<a target="blank" href="https://vimeo.com/jellekuiper">{% include svg/vimeo.svg %}</a>
					<a target="blank" href="https://twitter.com/jelle_kuiper">{% include svg/twitter.svg %}</a>
				</aside>
				<address class="address">
						Jelle Kuiper Producties BV<br>
						Kustvaarderstraat 16<br>
						1034 JH Amsterdam<br>
						T: <a class="tel"></a><br>
						E: <a class="mail"></a>
				</address>
			</div>
		</footer>
	</body>
</html>

