<header class="header">
	<nav class="main-menu">
		<div class="menu-toggle"></div>
		<a href="/"><h1 class="logo">{{site.name}}</h1></a>
		<ul class="nav" style="opacity:0;">
		{% assign pages = site.pages | sort: 'order' %}
		{% assign currentPage = page.title %}
		{% for page in pages %}
			{% if page.menu %}
				<li class="menu-item {% if page.title == currentPage %}active{% endif %}"><a href="{{page.url}}" class="menu-link">{{page.menu}}</a></li>
			{% endif %}
		{% endfor %}
			<li class="menu-item"><a href="#contact" class="menu-link">Contact</a></li>
		</ul>
	</nav>
</header>

{% if page.layout == 'detailpage' %}
<div class="heading">
		<a href="/theaterproducties" class="back">{% include svg/arrow-left.svg %} terug</a>
		<h1 class="title">{{ page.title }}</h1>
	</div>
{% endif %}

