		<footer class="footer">
			<ul class="nav">
				<li class="menu-item">
					<a href="/" class="menu-link">Home</a>
				</li>
				<li class="menu-item">
					<a href="/trouwambtenaar" class="menu-link">Trouwambtenaar</a>
				</li>
				<li class="menu-item">
					<a href="/bedrijfsoptredens" class="menu-link">Bedrijfsoptredens</a>
				</li>
				<li class="menu-item">
					<a href="/theaterproducties" class="menu-link">Theaterproducties</a>
				</li>
				<li class="menu-item">
					<a href="#contact" class="menu-link">Contact</a>
				</li>
			</ul>
			<div class="right">
				<aside class="icons">
					<a target="blank" href="https://vimeo.com/jellekuiper">{% include svg/vimeo.svg %}</a>
					<a target="blank" href="https://twitter.com/jelle_kuiper">{% include svg/twitter.svg %}</a>
				</aside>
				<address class="address">
						Jelle Kuiper Producties BV<br>
						Buiksloterdijk 306<br>
						1034 ZE Amsterdam<br>
						T: <a class="tel"></a><br>
						E: <a class="mail"></a>
				</address>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="/assets/js/build.js" defer></script>
</html>
