$primary: #48bd9b;
$secundary: #252525;

$white: white;
$black: $secundary;
$grey: #333333;
$grey-light: #fafafa;

$placeholder: #d0d0d0;

$border: 1px solid $grey;
$shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
$border-radius: 5px;
