@mixin background() {
	margin-top: $gutter*4;
	margin-bottom: $gutter*4;
    position: relative;
	
	&:after {
		content: '';
		position: absolute;
		width: 150vw;
		height: calc(100% + (#{$gutter} * 4);
		top: -$gutter*2;
		left: -50vw;
		z-index: -3;
		background-color: $grey-light;
		border: 1px solid #eaeaea;
	}
}
