.footer {
	width: calc(var(--max-width) /24 * 22);
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: $padding*4 0;
    flex-direction: column;

    .mail,
    .tel {
    text-decoration: underline;
    }

	&:before {
		content: '';
		position: absolute;
		width: 150vw;
		height: 100%;
		top: 0;
		left: -50vw;
		z-index: -1;
		background-color: $grey;
	}

    * {
    	color: $white;

        a {
            transition: all $speed/2;
        }

        a:hover {
            opacity: .7;
        }
    }

    .nav {
    	@include font('textheader');
    	font-size: 18px;

    	.menu-item {
    		padding: $padding/1.5 0;
    	}
    }

    .social-media {
        fill: $white;
        height: 36px;
        width: 36px;
        border: 1px solid white;
        border-radius: 50%;
        padding: .5em;
        margin: $gutter 5px;
        box-sizing: border-box;
    }

    .address {
    	font-style: normal;
    	line-height: 2;
    }
}

@include breakpoint($desktop) {
    .footer {
        width: calc(var(--max-width) / 37 * 35);
        display: flex;
        flex-direction: row;
        text-align: left;

        .nav {
            flex: 0 0 calc(var(--max-width) / 37 * 18);
            max-width: calc(var(--max-width) / 37 * 18);
            font-size: 18px !important;
        }

        .right {
            display: flex;
            flex-direction: column;
            flex: 0 0 calc(var(--max-width) / 37 * 18);
            max-width: calc(var(--max-width) / 37 * 18);

            .icons {
                order: 3;
            }
        }
    }
}