---
title: Theaterproducties
keywords: Creatief, Aangrijpend, Radicaal.
teaserText: Vele bedrijven en instellingen hebben Jelle ingehuurd voor een presentatie, dagvoorzitterschap of een op maat gemaakte optreden tijdens een congres of zakelijke bijeenkomst. Altijd met  groot succes. Jelle zorgt er altijd voor dat zijn optreden naadloos aansluit op het thema van het congres of de bedrijfsbijeenkomst.
summary: Jelle Kuiper studeerde in 1998 af als theatermaker. Naast dat hij zelf veel op het podium staat, produceert hij ook theatervoorstellingen. Op dit moment produceert en regiseert Jelle de eerste voorstelling van cabarettalent Stefano Keizers.
headerimage: /assets/img/theaterproducties/Theaterproducties-JelleKuiper-StefanoKeizers.jpg
formimage: /assets/img/bedrijfsoptredens/Bedrijfsoptreden-Jelle-Kuiper-fakespeech.jpg
layout: page
videourl: https://player.vimeo.com/video/236546630?title=0&byline=0&portrait=0&transparent=0&autoplay=0&color=fff
firstTimer: 307
firstTitle: 'Bedrijfsoptredens'
secondTimer: 95
secondTitle: 'Fakespeeches'
permalink: "/theaterproducties/"

---
<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="/assets/img/theaterproducties/Theaterproducties-Jelle-Kuiper-introductie.jpeg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Producties​​</strong>
			<p class="paragraph">In 2010 ging zijn eerste voorstelling Buurman en Buurman gaan verhuizen in premiere. Inmiddels is alweer de 4e Buurman en Buurman theatervoorstelling te zien. Daarnaast maakte Jelle het indringende familiedrama 'De Zuipkeet' en samen met André Kuipers de familievoorstelling 'André het astronautje'.</p>
		</div>
	</article>
</section>

{% include _blocks/video.html %}

<!-- block usp -->
<section class="block usps">
	{% assign sortedPages = site.pages | sort: 'order' %}
	{% for page in sortedPages %}{% if page.path contains '.md' and page.path contains '_pages/theaterproducties/' %}
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="{{page.headerimage}}" alt="{{page.title}}">
		</picture>
		<div class="article">
			<strong class="subtitle">{{page.title}}</strong>
			<p class="paragraph">{{page.teasertext}}</p>
			<a href="{{page.url}}" class="button">Lees meer</a>
		</div>
	</article>
	{% endif %}{% endfor %}
</section>			


{% include _blocks/counter.html %}

{% include _blocks/contactform.html %}
