---
title: Theaterproducties
keywords: Creatief, Aangrijpend, Radicaal.
summary: Jelle Kuiper studeerde in 1998 af als theatermaker. Naast dat hij zelf veel op het podium staat, produceert hij ook theatervoorstellingen. Op dit moment produceert en regiseert Jelle de eerste voorstelling van cabarettalent Stefano Keizers.
headerimage: /assets/img/theaterproducties/Theaterproducties-JelleKuiper-StefanoKeizers.jpg
formimage: /assets/img/bedrijfsoptredens/Bedrijfsoptreden-Jelle-Kuiper-fakespeech.jpg
layout: page
videourl: https://player.vimeo.com/video/236546630?title=0&byline=0&portrait=0&transparent=0&autoplay=0&color=fff
firstTimer: 307
firstTitle: 'Bedrijfsoptredens'
secondTimer: 95
secondTitle: 'Fakespeeches'
sitemap:
    priority: 1
    changefreq: 'yearly'
    lastmod: 2018-05-29T12:49:30-05:00
---
<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/theaterproducties/Theaterproducties-Jelle-Kuiper-introductie.jpeg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Producties​​</strong>
			<p class="paragraph">In 2010 ging zijn eerste voorstelling Buurman en Buurman gaan verhuizen in premiere. Inmiddels is alweer de 4e Buurman en Buurman theatervoorstelling te zien. Daarnaast maakte Jelle het indringende familiedrama 'De Zuipkeet' en samen met André Kuipers de familievoorstelling 'André het astronautje'.</p>
		</div>
	</article>
</section>

{% include _blocks/video.html %}


<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/theaterproducties/buurman_en_buurman/Bedrijfsoptreden-buurmanbuurman-Jelle-Kuiper-3.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Buurman en Buurman</strong>
			<p class="paragraph">A JE TO! is alweer de 4e theater voorstelling van Buurman en Buurman.</p>
			<a href="/theaterproducties/buurman-en-buurman" class="button">Lees meer</a>
		</div>
	</article>
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-ceremonieel-huwelijk.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">André het astronautje</strong>
			<p class="paragraph">Een muzikale familievoorstelling naar het boek van André Kuipers en met liedjes van Claudia de Breij.</p>
			<a href="/bedrijfsoptredens" class="button">Lees meer</a>
		</div>
	</article>
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/theaterproducties/buurman_en_buurman/Bedrijfsoptreden-buurmanbuurman-Jelle-Kuiper-2.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Buurman en Buurman XL</strong>
			<p class="paragraph">In de zomer van 2014 stond Buurman en Buurman XL op Lowlands en de Parade.</p>
			<a href="/bedrijfsoptredens" class="button">Lees meer</a>
		</div>
	</article>
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-ceremonieel-huwelijk.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">De Zuipkeet</strong>
			<p class="paragraph">De Zuipkeet is een theatervoorstelling over de gevolgen van drankmisbruik in een klein Fries gezin.</p>
			<a href="/bedrijfsoptredens" class="button">Lees meer</a>
		</div>
	</article>
	<article class="usp">
		<picture data-focus-x="0.331" data-focus-y="-0.224"  class="focuspoint picture">
			<img class="img" src="/assets/img/theaterproducties/judas/Theaterproducties-judas-Jelle-Kuiper.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Judas</strong>
			<p class="paragraph">De Holleeders dichtbij. Avondvullende belevenis waarin we de Holleeders van dichtbij volgen.</p>
			<a href="/bedrijfsoptredens" class="button">Lees meer</a>
		</div>
	</article>				
</section>			


{% include _blocks/counter.html %}


{% include _blocks/contactform.html %}

<!-- block reference -->
<section class="block references"> 
	<strong class="subtitle">Jelle doet ook</strong>
	{% include _blocks/_references/trouwambtenaar.html %}
	{% include _blocks/_references/bedrijfsoptredens.html %}
</section>
