$primary: #1abc9c;
$hover: #17a98c;
$secundary: #242424;

$white: white;
$black: $secundary;

$grey: #333333;
$grey-darker: #242424;
$grey-light: #fafafa;


$placeholder: #afafaf;

$border: 1px solid $grey;
$box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
$border-radius: 5px;
$text-shadow:  0 1px 4px rgba(0, 0, 0, 0.5);