{% capture block %}
{% if page.path contains 'trouwambtenaar' %}
	<strong class="subtitle">Reacties</strong>
	<div class="owl-carousel owl-theme">
		{% for testimonial in site.data.trouwambtenaar %}
			<article>
				<blockquote class="quote">{{ testimonial.text }}"</blockquote>
				<p class="name">{{ testimonial.name }}</p>
			</article>
		{% endfor %}
	</div>
{% elsif page.path contains 'bedrijfsoptredens' %}
	<strong class="subtitle">Reacties</strong>
	<div class="owl-carousel owl-theme">
		{% for testimonial in site.data.bedrijfsoptredens %}
			<article>
				<blockquote class="quote">{{ testimonial.text }}"</blockquote>
				<p class="name">{{ testimonial.name }}</p>
			</article>
		{% endfor %}
	</div>
{% endif %}
{% endcapture %}

{% include block/block.html classes="testimonials" %}