// not validated
.contactform {
	[required] {
		&:placeholder-shown {
			~ .send,
			~ input[type='submit'] {
				background-color: #dcdcdc;
				pointer-events: none;
			}
		}
	}
}

// validated
.contactform {
	input[type='submit'],
	.send {
		background-color: $placeholder;
		cursor: pointer;
		pointer-events: all;
	}
}
