.detailpage {

	&.pinned {
		.heading {
			.back {
				z-index: 0;
			}
		}
	}

	.main-menu {
		.menu-toggle {
			$menuHeight: 20px;
			$barWidth: 24px;
			$barHeight: 3px;
			border-top: $barHeight solid $black; 
			border-bottom: $barHeight solid $black;
			&:before, &:after {
				background-color: $black;
			}
		}
	}
	.header {
		height: 40px;

		.logo {
			color: $black;
			display: none;
		}
	}

	.picture {
		display: block;
		width: calc(var(--max-width) / 24 * 22);
		max-width: calc( var(--max-width) - (var(--max-width) / 37 * 2));
		margin: $gutter*1.5 auto;
		z-index: -99;
		max-height: 500px;
	}

	.heading {
		position: relative;

		.back {
			color: $black;
			top: $gutter*1.5;
			margin-left: #{100vw / 24 * 1};
			position: absolute;
			margin-top: -$gutter*5;
			font-weight: 400;
			z-index: 5;

			svg {
				fill: $black;
				color: $grey;
				width: 10px;
			}
		}

		.title {
			color: black;
			text-align: center;
			font-size: 3rem !important;
			margin-top: $gutter*4;
			margin-bottom: $gutter*2;
			@include font('title');
			display: block;
		}
	}

	main {
		.block.text + .button {
			text-align: center;
			text-transform: uppercase;
			width: #{100vw / 24 * 22};
			margin-left: #{100vw / 24 * 1};
		}
	}
}


@include breakpoint($desktop) {
	.detailpage {
		.header {
			height: auto;

			.logo {
				display: block;
			}

			&:after {
				content: '';
				position: absolute;
				width: 150vw;
				height: 100%;
				top: -$gutter;
				left: -50vw;
				z-index: -3;
				background-color: $grey-light;
				border: 1px solid #eaeaea;
			}

			.nav {
				padding-bottom: 35px;

				.menu-item:not(:last-child) {
					a {
						color: $placeholder;
						&:after {
							opacity: .7;
							background-color: $placeholder;
						}
					}
				}
			}
		}

		.heading {
			.back {
				color: $placeholder;
				position: absolute;
				margin-top: -$gutter*.5;
				margin-left: calc((100vw - var(--max-width))  / 2 + (var(--max-width) / 37 * 1));

				svg {
					fill: $placeholder;
				}
				
				&:hover {
					color: $black;

					svg {
						fill: $black;
					}
				}
			}

			.title {
				margin-top: $gutter*7;
				position: relative;
			}
		}

		main {
			.block.text + .button {
				margin-left: 50%;
				transform: translate(-50%);
				display: inline-block;
				width: auto;
			}
		}
	}
}