.page {
	.block {
		&.references {
			@include background();
			margin-bottom: $gutter*2;
		}
	}
}

@include breakpoint($desktop) {
	.page {
		.block {

			// reference block
			&.references {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				padding-top: $gutter;


				.subtitle {
					position: absolute;
					left: 0;
					top: -$gutter/2;
				}

				.reference-image {
					height: 100%;
					min-height: 350px;
				}

				.reference {
					margin-top: $gutter;
					width: calc(var(--max-width) / 37 * 17);
					margin-bottom: 0;

					.introduction {
						.button {
							text-transform: uppercase;
							width: calc(var(--max-width) / 37 * 15);
							left: calc(var(--max-width) / 37 * 1);
							bottom: calc(var(--max-width) / 37 * 1);
						}
					}
				}
			}

			// contactform
			&.contactform {
				display: flex;
				justify-content: space-between;
				height: 700px;

				> * {
					flex: 0 0 calc(var(--max-width) / 37 * 17);
				}

				.picture {
					display: block;
					height: 100%;
					
					.img {

					}
				}
			}
		}
	}
}