.block.optredens {
	text-align: center;
	
	ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

		li {
			list-style: none;
      line-height: 2rem;
      margin: 0 15px;
      color: $grey;

			&:before {
				content: none;
      }

			&:not(:last-child):after {
				content: "-";
				position: absolute;
				right: -30px;
				padding-right: 10px;
			}
		}
	}
}