$hero-height: calc(80vh - #{$menu-height});

.block.hero {
  .inner {
    .hero-wrapper {
      height: $hero-height;
      position: relative;
  
      .hero-image {
        display: block;
        height: $hero-height;
        width: 100vw;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
      }

      .page-title {
        @include font('title');
        color: $white;
        position: absolute;
        bottom: $gutter*2;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        z-index: 3;
        width: calc(100vw - 20px);
      }
    }
  
    > .introduction {
      color: $black;
      text-align: center;
      width: 90%;
      margin: $padding*3 auto;
      margin-bottom: $padding*4;
      max-width: 640px;
  
      .subtitle {
        padding: $gutter/2 0;
        @include font('subtitle');
        font-family: "MuseoSans";
      }
      
      .introduction {
        position: relative;
        width: 100%;
  
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -30px;
          width: 90px;
          height: 3px;
          background-color: $primary;
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .block.hero {
    .inner {
      .hero-wrapper {
        .page-title {
          font-size: 4rem;
        }
      }
    }
  }
}