.block.contactform {
	min-height: calc(100vh - #{$offset});

	.picture {
		display: none;
  }
  #email {
    display: none;
  }
}

@include breakpoint ($desktop) {
	.block.contactform {
		min-height: auto;
	    // overflow: hidden;
	}
}