.body {
  @include font('normal');
}

@include breakpoint( max-width bpmax(960px)) {
  .body {
    @include font('normal');
    width: 100vw;
    margin-top: $menu-height;

    &.pinned {
      max-height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}