body,
html {
	overflow-x: hidden;
}

body {
	@include font('normal');
	width: 100vw;
}

.invisible,
.none {
	display: none;
}

.transparent {
	opacity: 0;
}

* {
	@include selection {
		background: $primary;
		color: $white;
	}

	&:focus {
		outline: none;
	}
}

.owl-dot.active {
	span {
		background: #777 !important;
	}
}

#honeypot {
  display: none;
}

a {
	text-decoration: none;
	color: $primary;
	font-weight: 600;
}