.logo {
  @include font('title');
  color: $black;
  position: absolute;
  z-index: 1;

  h1 {
    display: inline-block;
  }
}

@include breakpoint(max-width bpmax(960px)) {
  .logo {
    top: 16px;
    font-size: 1.3rem;
    left: #{100vw / 24 * 1};
  }
}

@include breakpoint(960px) {
  .logo {
    font-size: 1.5rem;
    top: 33px;
  }
}