@include breakpoint(max-width bpmax(960px)) {
  .detailpage {
    .header {
      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    
    main {
      .back {
        display: none;
      }
    }
  }
}

.detailpage {
  main {
    .page-title {
      color: $black;
      text-align: center;
      font-size: 2.5rem !important;
      margin-top: $gutter*2;
      margin-bottom: $gutter*2;
      @include font('title');
      display: block;
    }

    .picture {
      display: block;
      width: calc(#{$max-width} / 24 * 22);
      max-width: calc( #{$max-width} - (#{$max-width} / 37 * 2));
      margin: $gutter*1.5 auto;
      height: 350px;
    }

		.element .button {
			text-align: center;
			text-transform: uppercase;
      width: #{100vw / 24 * 22};
		}

    .block {
      &.contactform {
        overflow: hidden;

        .picture {
          margin: 0;
        }
      }

      &.references {
        @include background;

        .inner {
          .subtitle {
            // display: none;
          }

          .introduction {
            height: 240px;
            margin-top: 15px;

            .description {
              font-weight: 700;
              text-shadow: $text-shadow;
              font-size: 16px;
              line-height: 1.4;
              display: block;
              text-align: center;
              padding: 0 20px;
            }
          }
        }
      }
    }
	}
}


@include breakpoint($desktop) {
	.detailpage {
    main {

      .page-title {
        margin-top: $gutter*4;
        position: relative;
      }

      .back {
        color: $placeholder;
        position: absolute;
        margin-top: $padding;
        margin-left: calc(#{$max-width} / 37 * 1);
        z-index: 1;

        svg {
          fill: $placeholder;
          width: 10px;
        }

        &:hover {
          color: $black;

          svg {
            fill: $black;
          }
        }
      }

			.picture {
				width: #{$max-width};
				height: 500px;
			}

			.element .button {
				margin-left: 50%;
				transform: translate(-50%);
				display: inline-block;
				width: auto;
			}

      .block {

        &.references {
          .inner {
            margin-bottom: $gutter*2;

            .reference {
              height: 300px;

              .introduction {
                padding: 0 20px !important;
                margin: 10px 0;
                height: 65%;

                .title {
                  font-size: 1.5rem !important;
                }

                .description {
                  display: block;
                  text-align: center;
                  padding: 0 20px;
                }
              }
            }
          }
        }
      }
		}
	}
}