body.front {
	.block {
		&.contactform {
			@include background();
			margin-bottom: $gutter*2;
    }

    &.hero {
      .inner {
        height: 100%;

        .hero-wrapper {
          height: 100%;
          .owl-carousel {
            height: 100%;
            
            .owl-stage-outer {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }

		&.references {
			.subtitle {
				display: none;
			}
		}
	}
}

@include breakpoint($desktop) {
	body.front {
		.block {

			&.contactform {
				.salutation {
					display: inline-block;
					width: calc(#{$max-width} / 37 * 17);

					&-2 {
						display: inline-block;
						float: right;
						width: calc(#{$max-width} / 37 * 17);
					}
				}
			}

			&.references {
				.reference {
					flex-direction: row;
					justify-content: space-between;
					color: $black;
					text-align: left;
					margin-bottom: $gutter;

					&:after {
						content: none;
					}

					&:nth-child(even) {
						.introduction {
							order: 2;
						}
					}

					.introduction {
						flex: 0 0 calc(#{$max-width} / 37 * 17);
						padding: calc(#{$max-width} / 37 * 1);
						position: static;
						height: auto;

						.title,
						.keywords {
							text-shadow: none;
							font-size: 2rem;
						}

						.keywords {
							position: relative;
							padding-left: $gutter;
							font-style: italic;
							font-size: 18px;
							margin: $padding 0;

							&:before {
								content: '';
								width: 5px;
								height: 100%;
								position: absolute;
								left: 0;
								background: $primary;
							}
						}

						.description {
							display: block;
						}

						.button{
							position: static;
							width: 100%;
							text-align: center;
						}
					}

					.reference-image {
						flex: 0 0 calc(#{$max-width} / 37 * 17);

						&:not(.focuspoint) {
							position: relative;
							height: 420px;
							width: 100%;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}