---
title: Trouwambtenaar
keywords: Persoonlijk, Humoristisch, Ontspannen
teaserText: Omdat standaard huwelijksceremonies best wat leuker en wat minder stijf kunnen heeft Jelle in 2005 besloten zijn cabarettalent hierop in te zetten. Sindsdien is hij buitengewoon ambtenaar van de burgerlijke stand. Hij zorgt dat jouw belangrijkste dag van je leven een unieke ervaring wordt, voor jullie én voor jullie gasten. De toon van jullie dag wordt gezet met een ontspannen en intieme ceremonie vol humor en interactie.
summary: Jelle Kuiper is cabaretier en buitengewoon ambtenaar, ook wel BABS hij mag in heel Nederland officieel huwelijken sluiten. Jelle is uitgeroepen tot beste trouwambtenaar van 2014 bij de Dutch Wedding Awards!
headerimage: /assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-hero.jpg
formimage: /assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-knuffel-contact.jpg
subject: 'Bv. Trouwambtenaar Amsterdam'
message: 'Bv. Hoi Jelle, ik ga trouwen op 20 Juni. Ben je dan beschikbaar als trouwambtenaar? Groetjes, Laura'
layout: page
videourl: https://www.youtube.com/embed/sQZcXToH1CU
order: 1
firstTimer: 627
firstTitle: 'Huwelijk gesloten'
secondTimer: 10
secondTitle: 'Jaar ervaring'
permalink: "/trouwambtenaar/"

---
<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture class="focuspoint picture fade-in">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-leuktrouwen.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Leuk trouwen</strong>
			<p class="paragraph">Omdat standaard huwelijksceremonies best wat leuker en wat minder stijf kunnen heeft Jelle in 2005 besloten zijn cabarettalent hierop in te zetten. Sindsdien is hij buitengewoon ambtenaar van de burgerlijke stand. Hij zorgt dat jouw belangrijkste dag van je leven een unieke ervaring wordt, voor jullie én voor jullie gasten. De toon van jullie dag wordt gezet met een ontspannen en intieme ceremonie vol humor en interactie.</p>
		</div>
	</article>
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-Persoonlijk.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Alles behalve doorsnee</strong>
			<p class="paragraph">Dus geen saai of truttig opgelezen verhaal van een trouwambtenaar dat bij elk bruidspaar hetzelfde is. Nee, Jelle maakt er een persoonlijk verhaal van en hij zorgt voor een trouwceremonie die alles behalve doorsnee is! Dus wil jij je gasten verrassen en zorgen dat er nog weken, maanden, jaren wordt nagepraat over jouw bruiloft? Stuur een <a href="#contact">bericht</a> en Jelle neemt snel contact met je op.​​​​​​​​​​</p>
		</div>
	</article>
</section>

{% include block/block.video.html %}

<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-leuktrouwen-prijs.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Uit het juryrapport van de Dutch Wedding Awards:</strong>
			<blockquote class="quote">"Deze trouwambtenaar doet iets met mensen. Je voelt je direct thuis bij hem; het is vertrouwd. Hij trekt de trouwceremonie niet naar zich toe alsof het zijn show is, maar het bruidspaar staat in het middelpunt van de belangstelling, TOP"</blockquote>
		</div>
	</article>
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-ceremonieel-huwelijk.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Een ceremonieel huwelijk</strong>
			<p class="paragraph">Soms is het zo dat je wil trouwen op een speciale locatie, maar dat het geen officiële trouwlocatie is. Of op een tijdstip dat bij de gemeente niet is toegestaan. Dan kun je kiezen voor een ceremonieel huwelijk. Jullie zetten dan je handtekening bij de gemeente op de officiële huwelijksakte (een korte handeling, die ook op maandagochtend gratis kan!). De ceremonie laten jullie vervolgens door Jelle voltrekken. Er kan dan ook een akte ondertekend worden (deze is alleen niet rechtsgeldig) en Jelle zorgt voor het trouwboekje. Op deze manier kun je trouwen wanneer en waar je maar wilt, ook buiten, in de lucht, onder water of bij je schoonmoeder in de tuin! </p>
		</div>
	</article>
</section>			

{% include block/block.testimonials.html %}


<!-- block usp -->
<section class="block usps">
	<article class="usp">
		<picture class="focuspoint picture">
			<img class="img" src="/assets/img/trouwambtenaar/Trouwambtenaar-Jelle-Kuiper-kosten.jpg" alt="Jelle Kuiper">
		</picture>
		<div class="article">
			<strong class="subtitle">Kosten</strong>
			<p class="paragraph">Leuktrouwen doe je al vanaf <strong>750,-</strong> 
				<br><br>
				Heb je vragen of wil je meer informatie over werkwijze en bijvoorbeeld de exacte kosten?  Vul onderaan deze pagina het <a href="#contact">contactformulier</a> in en je ontvangt zo spoedig mogelijk alle info.​
			</p>
		</div>
	</article>
</section>


{% include block/block.counter.html %}

{% include block/block.contactform.html %}