.owl-item.active {
	+ .owl-item {
		overflow: hidden;
	}
}

.owl-carousel {
	overflow: visible;
	position: relative;


	// .owl-dots {
	// 	position: relative;
	// 	width: calc(#{$max-width} / 24 * 18);
	// 	margin-left: calc(#{$max-width} / 24 * 2);
	// 	z-index: 50;
	//     counter-reset: increment;
	//     bottom: -$padding/1.5;
	//     white-space: nowrap;
	// 	z-index: -2;
	// 	overflow: hidden;

	// 	.owl-dot {
	// 		width: calc(#{$max-width} / 24 * 1.8);
	// 		transition: all $speed $easing-cubic;

	// 		&:before {
	// 			counter-increment: increment;
	// 			content: counter(increment);
	// 			color: $secundary;
	// 			font-weight: 600;
	// 			padding: 5px;
	// 			opacity: .2;

	// 		}
	// 		&:hover {
	// 			&:before {
	// 				opacity: .5;
	// 			}
	// 		}
			
	// 		span {
	// 			display: none;
	// 		}
			
	// 		&.active {
	// 			&:before {
	// 				opacity: 1;
	// 			}
	// 		}
	// 	}
  // }

	.owl-prev,
	.owl-next {
		fill: $primary;
		position: absolute;
		bottom:  -$gutter;
		width: 30px;

		&:hover {
			fill: $hover;
		}

		&:focus,
		&:hover {
			background: none !important;
		}
	}
	
	.owl-prev {
		left: 0;
	}

	.owl-next {
		right: 0;
  }
  
  + .pagination {
    color: #777777;
    text-align: center;
    line-height: 0;
    margin-top: -11px;
    font-size: 18px;
  }
}

// @for $i from 1 through 6 {

// 	[data-item="#{$i}"] {
// 	    .owl-dot {
// 			transform: translateX( calc(#{$max-width} / 24 * (18 * #{$i}) * -1));
// 	    }
// 	}
// }

@include breakpoint($desktop) {
	.owl-carousel {
		overflow: visible;
		position: relative;

		&:before,
		&:after {
			content: none;
		}

		.owl-item {
      padding-bottom: 50px;

		}

		// .owl-dots {
		// 	margin-bottom: 10px;
		// 	width: calc(#{$max-width} / 37 * 17);
		// 	margin-left: calc(#{$max-width} / 37 * 0);

		// 	.owl-dot {
		// 		width: calc(#{$max-width} / 37 * 1.7);
		// 	}
		// }

		.owl-prev,
		.owl-next {
			top: -45px;
		}

		.owl-next {
			right: -100px;
			z-index: 100;
		}

		.owl-prev{
			left: -100px;
		}
	}

	// @for $i from 1 through 6 {

	// 	[data-item="#{$i}"] {
	// 	    .owl-dot {
	// 			transform: translateX( calc(#{$max-width} / 37 * (17 * #{$i}) * -1));
	// 	    }
	// 	}
	// }
}