@include breakpoint (max-width bpmax(960px)) {
  .main-menu {
    position: relative;

    .nav {
      padding: $gutter*8 0;
      display: flex;
      height: 100vh;
      z-index: 10;
      width: 100vw;
      pointer-events: none;
      top: 0;
      left: 0;
      transform: scale(.9);
      opacity: 0;
      position: fixed;
      flex-direction: column;
      justify-content: space-around;

      .menu-item {
        width: 100%;
        text-align: center;
        // pointer-events: none;

        .menu-link {
          width: 100%;
          pointer-events: none;
        }

				&.button {
          display: none;
        }
      }
    }
  }
}

.main-menu {
  .nav {
    transition: all 0.25s ease;

    .menu-item {
      transition: all $speed/2;

      &:hover {
        .menu-link {
          color: $black;
        }
      }

      &.active {
        .menu-link {
          color: $black;

          &:after {
            width: 100%;
          }
        }
      }

      .menu-link {
        transition: all $speed/2;
        position: relative;
        @include font('menu-item');
        text-decoration: none;

        &:after {
          content: '';
          transition: all 0.25s ease;
          transition: width $speed $easing-cubic;
          width: 0;
          background-color: $primary !important;
          height: 3px;
          left: 0;
          bottom: -2px;
          z-index: -1;
          opacity: 1 !important;
          position: absolute;
        }
      }
    }
  }
}

@include breakpoint(960px) {
	.main-menu {
    height: $menu-height;

    .nav {
      opacity: 1 !important;
      display: flex;
			flex-direction: row;
      align-items: center;
			justify-content: flex-end;
      height: 100%;

			.menu-item {
				margin-left: calc(#{$max-width} / 37 * 2);

				&:first-child {
					display: none;
				}

				&.button {
          text-decoration: none;
          cursor: pointer;
          padding: 13px $padding*2;
          border-radius: 10px;
          display: inline-block;
          font-family: "MuseoSans";
          color: $white;

          &:hover {
            background-color: $hover;
          }
				}
			}
		}
	}
}