$menuHeight: 20px;
$barWidth: 24px;
$barHeight: 3px;
$menu-toggle: $black;
.main-menu {
	.menu-toggle {
		position: absolute;
		right: $padding;
		top: 17px;
		width: $barWidth;
		height: $menuHeight;
		cursor: pointer;
		border-top: $barHeight solid $menu-toggle; 
		border-bottom: $barHeight solid $menu-toggle;
		transition: all 0.25s $easing-cubic;
		transform-origin: center;

		&:before, &:after {
			content: "";
			background-color: $menu-toggle;
			width: $barWidth;
			height: $barHeight;
			position: absolute;
			top: 50%; 
			transform: translateY(-50%);
			transform-origin: center;
			transition: all 0.25s $easing-cubic;
		}

		&:hover {
			transform: scale(1.1);
		}

		&.active {
			transform: rotate(45deg);
			position: fixed;
			border-color: transparent;

			&:before,
			&:after {
				background-color: $secundary !important;
			}

			&:after { 
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
}

// open menu
.menu-toggle.active {
	z-index: 20;

	~ .nav {
		pointer-events: all;
		opacity: 1 !important;
		transform: scale(1);
		background-color: $white;
	}
}

@include breakpoint(960px) {
	.main-menu {
		.menu-toggle {
			display: none;
		}
	}
}