<section class="block contactform" id="contact">
	<form id="gform" class="form" method="POST">
		<strong class="subtitle">Contact</strong>
		<p>Heb je een vraag of wil je kennis maken? Bel op <a class="tel"></a> of stuur me een berichtje.</p>
		<label for="name">Naam {{site.author.email}}</label>
	    <input class="form-field" type="text" name="name" placeholder="B.v. Charlotte van Dijk" required>
	    
		<label for="email">E-mail</label>
	    <input class="form-field" type="email" name="email" placeholder="B.v. charlottevandijk@gmail.com" required>

		<label for="subject">Onderwerp</label>
	    <input class="form-field" type="text" name="subject" placeholder="Bv. Trouwambtenaar Amsterdam" required>
		
		<label for="message">Bericht</label>
	    <textarea class="form-field" name="message" rows="5" placeholder="Bv. Hoi Jelle, ik ga trouwen op 20 Juni. Ben je dan beschikbaar als trouwambtenaar? Groetjes, Laura" required></textarea>

	    <input type="hidden" id="honeypot" type="text" name="honeypot" value="" />
	    <input type="hidden"class="to" type="text" name="to" value="" />
	    <input class="send button" type="submit" value="Verstuur bericht" >
	    <span class="checkmark">{% include _svg/checkmark.svg %}</span>
	</form>
	<picture class="focuspoint picture">
			<img class="img" src="{{ page.formimage }}" alt="Jelle Kuiper">
	</picture>
</section>