<section class="block optredens">
	<strong class="subtitle">Jelle heeft o.a. opgetreden voor</strong>
	<ul>
		<li>Achmea</li>
		<li>AMC</li>
		<li>Aegon</li>
		<li>Agis Zorgverzekeringen</li>
		<li>Albert Heijn</li>
		<li>Atos Consulting</li>
		<li>BAM</li>
		<li>BDO Camps Obers</li>
		<li>Beatrixtheater</li>
		<li>Beatrix Fonds</li>
		<li>Bovag</li>
		<li>Bouwend Nederland</li>
		<li>Brandweer</li>
		<li>Campina
		<li>CBS</li>
		<li>Commit</li>
		<li>Deloitte</li>
		<li>Defensie</li>
		<li>Ernst en Young</li>
		<li>Formido</li>
		<li>FrieslandCampina</li>
		<li>vele Gemeenten</li>
		<li>GGD</li>
		<li>Hypotheek Shop</li>
		<li>Interpolis</li>
		<li>Kadaster</li>
		<li>Kenteq</li>
		<li>Kluwer</li>
		<li>KPN</li>
		<li>KPMG</li>
		<li>KWF Kankerbestreiding</li>
		<li>Mercedes Benz</li>
		<li>Ministerie van Financien</li>
		<li>Ministerie van Verkeer en Waterstaat</li>
		<li>Ministerie van Economische zaken</li>
		<li>Ministerie van Binnenlandse zaken</li>
		<li>Nibra</li>
		<li>Oranjewoud</li>
		<li>Philips</li>
		<li>PON</li>
		<li>Postkantoren</li>
		<li>PriceWaterhouceCoopers</li>
		<li>Rabobank</li>
		<li>ROC</li>
		<li>Rijkswaterstaat</li>
		<li>Sodexho</li>
		<li>Sogeti</li>
		<li>TNT</li>
		<li>T-mobile</li>
		<li>Topticketline</li>
		<li>Universiteit Amsterdam</li>
		<li>Universiteit Tilburg</li>
		<li>UWV</li>
		<li>VVV</li>
	</ul>
</section>